{:compass/origin               "http://localhost:8099"
 :datomic/url                  "datomic:mem://compass"
 :http/show-exception-details? true
 :live.js?                     true
 :tito/fake-api-stubs?         true}
