{:compass/http   {:port     #config :port
                  :router   #ig/ref :compass/router
                  :dynamic? #config :dynamic-routes?}
 :compass/router {:dynamic? #config :dynamic-routes?}
 :compass/db     {:url #config :datomic/url}
 :tito/sync      {:db #ig/ref :compass/db
                  :interval-seconds #config :tito/sync-interval-seconds}}
