{:paths ["src" "resources"]

 :deps
 {org.clojure/clojure       {:mvn/version "1.11.2"}
  ring/ring-jetty-adapter   {:mvn/version "2.0.0-alpha1"}
  fi.metosin/reitit         {:mvn/version "0.7.0-alpha6"}
  com.lambdaisland/hiccup   {:mvn/version "0.7.42"}
  com.lambdaisland/ornament {:mvn/version "1.12.107"}

  integrant/integrant            {:mvn/version "0.9.0-alpha4"}
  aero/aero                      {:mvn/version "1.1.6"}
  io.pedestal/pedestal.log       {:mvn/version "0.7.0-beta-1"}
  ch.qos.logback/logback-classic {:mvn/version "1.5.3"}

  integrant/repl {:mvn/version "0.3.3"}}

 :aliases
 {:dev
  {:extra-paths ["dev"]
   :extra-deps  {}}

  :test
  {:extra-paths ["test"]
   :extra-deps  {lambdaisland/kaocha {:mvn/version "1.88.1376"}}}}}
