:where(html) {
  --hoc-pink: #e25f7d;
  --sessions-arc-thickness: 40px;
  --sessions-arc-color: var(--lime-5);
  --sessions-arc-degrees: 240deg;
}

body.menu-open .home-menu_panel {
  transform: translate(0, 0);
}

ul, ol {
  list-style-type: none;
  margin: var(--size-0);
  padding: var(--size-0);
}

body {
  overflow-x: hidden;
  width: 100vw;
}

body.menu-open .co_gaiwan_compass_html_navigation__menu_panel {
  transform: translate(0, 0);
}

body {
  margin: var(--size-2);
  max-width: 100vw;
}

body >main {
  padding: var(--size-3);
}

.graphics-compass_logo path {
  fill: var(--hoc-pink);
}

.graphics-hamburger {
  stroke-width: 13%;
  stroke-linecap: round;
  stroke: var(--gray-9);
}

.graphics-cross {
  stroke-width: 13%;
  stroke-linecap: round;
  stroke: var(--gray-9);
}

.sessions-arc {
  aspect-ratio: var(--ratio-square);
  padding: var(--sessions-arc-thickness);
  border-radius: var(--radius-round);
  background: var(--sessions-arc-color);
  mask: linear-gradient(#0000 0 0) content-box intersect, conic-gradient(#000 var(--sessions-arc-degrees), #0000 0);
}

.sessions-capacity_gauge {
  display: flex;
  aspect-ratio: 1 / 1;
  --sessions-arc-thickness: 10%;
}

.sessions-capacity_gauge .sessions-arc {
  width: 100%;
}

.sessions-capacity_gauge .img {
  width: 100%;
  padding: var(--sessions-arc-thickness);
  margin-left: -100%;
}

.sessions-capacity_gauge .img >* {
  width: 100%;
  aspect-ratio: 1 / 1;
  border-radius: 9999px;
}

.sessions-session_card {
  display: flex;
  gap: var(--size-3);
  box-shadow: var(--shadow-4);
  padding-left: var(--size-3);
  padding-right: var(--size-3);
  padding-top: var(--size-2);
  padding-bottom: var(--size-2);
  border-style: solid;
  border-color: var(--surface-3);
}

.sessions-session_card .type {
  background-color: light-dark(var(--red-2), var(--red-9));
}

.sessions-session_card.talk .type {
  background-color: light-dark(var(--blue-2), var(--blue-9));
}

.sessions-session_card.workshop .type {
  background-color: light-dark(var(--teal-2), var(--teal-8));
}

.sessions-session_card .title {
  margin-bottom: var(--size-3);
  font-size: var(--size-3);
}

.sessions-session_card .datetime {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: var(--size-3);
  font-weight: 700;
}

.sessions-session_card .guage {
  padding: var(--size-2);
}

.sessions-session_card .type {
  font-weight: 700;
  padding: var(--size-1);
  text-align: center;
  font-variant: small-caps;
  writing-mode: sideways-lr;
}

.sessions-session_card .sessions-capacity_gauge {
  width: 100px;
  margin-right: var(--size-3);
}

.sessions-session_card .details {
  display: flex;
  flex-direction: column;
  padding-top: var(--size-2);
  padding-bottom: var(--size-2);
}

.home-nav_bar {
  display: flex;
  align-items: center;
  padding: var(--size-3);
  background-color: var(--surface-1);
}

.home-nav_bar h1 {
  font-size: var(--size-5);
  margin-right: auto;
  margin-left: var(--size-2);
}

.home-nav_bar svg {
  flex-grow: 0;
  flex-shrink: 0;
  width: var(--font-size-5);
  height: var(--font-size-5);
}

.home-menu_panel {
  width: var(--size-fluid-10);
  right: 0;
  max-width: 100vw;
  height: 100vh;
  transform: translate(100%, 0);
  position: fixed;
  z-index: 1;
  box-shadow: var(--shadow-4);
  overflow: hidden;
  background-color: var(--surface-2);
  transition: transform 300ms ease-in;
}

.home-menu_panel svg {
  width: var(--font-size-5);
  height: var(--font-size-5);
}

.home-menu_panel .bar {
  display: flex;
  justify-content: space-between;
  padding: var(--size-3);
}

.home-menu_panel li {
  font-size: var(--size-3);
  border-width: 1px;
  border-style: solid;
  border-color: var(--surface-4);
  font-size: var(--font-size-3);
}

.home-home .sessions-session_card {
  margin-bottom: var(--size-3);
}

.co_gaiwan_compass_html_navigation__nav_bar {
  display: flex;
  align-items: center;
  padding: var(--size-3);
  background-color: var(--surface-1);
}

.co_gaiwan_compass_html_navigation__nav_bar h1 {
  font-size: var(--size-5);
  margin-right: auto;
  margin-left: var(--size-2);
}

.co_gaiwan_compass_html_navigation__nav_bar svg {
  flex-grow: 0;
  flex-shrink: 0;
  width: var(--font-size-5);
  height: var(--font-size-5);
}

.co_gaiwan_compass_html_navigation__menu_panel {
  width: var(--size-fluid-10);
  right: 0;
  max-width: 100vw;
  height: 100vh;
  transform: translate(100%, 0);
  position: fixed;
  z-index: 1;
  box-shadow: var(--shadow-4);
  overflow: hidden;
  background-color: var(--surface-2);
  transition: transform 300ms ease-in;
}

.co_gaiwan_compass_html_navigation__menu_panel svg {
  width: var(--font-size-5);
  height: var(--font-size-5);
}

.co_gaiwan_compass_html_navigation__menu_panel .bar {
  display: flex;
  justify-content: space-between;
  padding: var(--size-3);
}

.co_gaiwan_compass_html_navigation__menu_panel li {
  font-size: var(--size-3);
  border-width: 1px;
  border-style: solid;
  border-color: var(--surface-4);
  font-size: var(--font-size-3);
}